<!DOCTYPE html>
<html>
    <title>CD Catalog</title>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand bg-dark navbar-dark">
            <label id="logo">IMDB TOP MOVIES</label>
         
        </nav>
        <!-- main content -->
        <div class="row">
          
            <div class="col-sm-12">
                <div class="tab-content">
                    <br>
                    <a href="/add?studioname=1"  style="margin-left: 18px; border-radius: 7px; background-color: #4CAF50;" type = 'button' id="addlink" class= "btn btn-info">Add new CD.</a><br>
                    <div id="home" class="container tab-pane active"><br>
                        <table class="table table-bordered" >
                            <tr class="thead-light">
                                <th>Title</th>
                                <th>Year</th>   
                                <th>Gener</th>
                                <th>Director</th>
                                <th>Action</th>


                            </tr>
                            <!-- table content -->
                            <tbody id='movies-list1'>
                            </tbody>
                        </table>
                    </div>
                         
                </div> 
            </div>
        </div>    
    </body>
    <script>
        //convert json data into use for ejs file
        var contents = <%- contents %>
    </script>
    
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>