<!DOCTYPE html>
<html>
    <title>Movies</title>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <style>
        * {
        box-sizing: border-box;
        }

        .column {
        float: left;
        width: 33.33%;
        padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
        content: "";
        clear: both;
        display: table;
        }
</style>
    </head>
    <body>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand navbar-dark" style="background:#a90808">
            <label id="logo">IMDB TOP MOVIES</label>
         
        </nav>
         <nav class="navbar navbar-expand navbar-dark" style="background:#a90808">
           <div class="row">
            <div class="column">
                <img src="img/a6.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
                <img src="img/a8.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
                <img src="img/a3.jpg" alt="Mountains" style="width:100%">
            </div>
            
            </div>

        </nav>
        <!-- main content -->
        <div class="row">
          
            <div class="col-sm-12">
                <div class="tab-content">
                    <br>
                    <div id="home" class="container tab-pane active"><br>
                        <table class="table table-bordered" >
                            <tr class="thead-light">
                                <th>Title</th>
                                <th>Year</th>   
                                <th>Gener</th>
                                <th>Director</th>
                                <th>Action</th>


                            </tr>
                            <!-- table content -->
                            <tbody id='movies-list1'>
                            </tbody>
                        </table>
                    </div>
                         
                </div> 
            </div>
        </div>    
    </body>
    <script>
        //convert json data into use for ejs file
        var contents = <%- contents %>
    </script>
    
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>